name: Continuous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['18.x', '20.x']

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: narr
          POSTGRES_PASSWORD: narnia210404
          POSTGRES_DB: forumapi_test
        options: >-
          --health-cmd "pg_isready -U narr -d forumapi_test"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install, migrate, and test
        run: |
          npm ci
          npm run migrate up
          npm run test
        env:
          CI: true
          HOST: 0.0.0.0
          PORT: 5000

          PGHOST: localhost
          PGPORT: 5432
          PGUSER: narr
          PGPASSWORD: narnia210404
          PGDATABASE: forumapi_test

          ACCESS_TOKEN_KEY: 56fd5f715d79ddc47cd61eeab3bddf5aeb440dd7ed27d3cbb81b7aae91a4bfdd92ddc736427bc5436277b9740128a5b3dc69eace953cd397c0b1bac29d2a2844
          REFRESH_TOKEN_KEY: 5d80e3b521742a3ae2aa8a5e0fa3f788e4556f848139f4763517a93b73ae1edf80c7f44fca5a7ea30a1d810b7279f690e5777641cbd3fa7acc251b66691703db
          ACCESS_TOKEN_AGE: 3600
